{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th colspan="3">
                    Products list
                </th>

                <th colspan="1">
                    <a type='button' class="btn btn-success" href="{% url 'product-create-view' %}">Create</a>
                </th>

            </tr>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Product's name</th>
                <th scope="col">Available quantity</th>
                <th scope="col">Unit</th>
                <th scope="col">Price per unit</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            {% for product in products %}
                <tr>
                    <td><a href="{% url 'product-detail-view' product.id %}">{{ product.id }}</a></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.available_quantity }}</td>
                    <td>{{ product.unit }}</td>
                    <td>{{ product.price_per_unit }}</td>
                    <td>
                        <a type='button' class="btn btn-warning" href="{% url 'product-update-view' product.pk %}">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a type='button' class="btn btn-danger" href="{% url 'product-delete-view' product.pk %}">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                <br>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
            </div>
        </table>
    </div>
{% endblock %}
