{% extends 'base.html' %}
{% load bootstrap5 %}


{% block content %}
    <div class="container">
        <h3> Add new product </h3>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Add new product
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}