{% extends 'base.html' %}
{% load bootstrap5 %}


{% block content %}
    <div class="container">
        <h3> Modify product </h3>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Update
                </button>
                <a type="button" class="btn btn-warning"
                   href="{% url 'product-delete-view' product.pk %}">
                    Delete
                </a>

            {% endbuttons %}
        </form>
    </div>
{% endblock %}