{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Product's name: {{ product.name }}</h2>
        <h3>Available quantity: {{ product.available_quantity }}</h3>
        <h3>Unit: {{ product.unit }}</h3>
        <h4>Price per unit: {{ product.price_per_unit }}</h4>
        <a type="button" class="btn btn-warning" href="{% url 'product-update-view' product.pk %}">
            Edit
        </a>
        <a type="button" class="btn btn-danger" href="{% url 'product-delete-view' product.pk %}">
            Delete
        </a>

    </div>

{% endblock %}