{% extends 'base.html' %}
{% load bootstrap5 %}


{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Confirm
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}