{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th colspan="3">
                    Recipes list
                </th>

                <th colspan="1">
                    <a type='button' class="btn btn-success" href="{% url 'recipe-create-view' %}">Create</a>
                </th>

            </tr>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Recipe's name</th>
                <th scope="col">Preparation time</th>
                <th scope="col">Cooking time</th>
                <th scope="col">Ingredients</th>
                <th scope="col">Number of ingredients</th>
                <th scope="col">Available to prepare</th>
                <th scope="col">Cost of ingredients</th>
                <th scope="col">Make</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            {% for recipe in recipes %}
                <tr>
                    <td><a href="{% url 'recipe-detail-view' recipe.id %}">{{ recipe.id }}</a></td>
                    <td>{{ recipe.name }}</td>
                    <td>{{ recipe.prep_time_in_minutes }}</td>
                    <td>{{ recipe.cook_time_in_minutes }}</td>
                    <td>{% for ingredient in recipe.ingredients.all %}
                        <a href="{% url 'product-detail-view' ingredient.product.id %}">{{ ingredient.product.name }}</a>
                        ,
                    {% endfor %}
                    </td>
                    <td>{{ recipe.ingredients_number }}</td>
                    <td>{{ recipe.available_to_prepare }}</td>
                    <td>{{ recipe.cost_of_ingredients }}</td>
                    <td>
                        <a type='button' class="btn btn-success" href="{% url 'recipe-make-view' recipe.pk %}">
                            Make!
                        </a>
                    </td>
                    <td>
                        <a type='button' class="btn btn-warning" href="{% url 'recipe-update-view' recipe.pk %}">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a type='button' class="btn btn-danger" href="{% url 'recipe-delete-view' recipe.pk %}">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}

            <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                <br>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
            </div>
        </table>


    </div>
{% endblock %}
