{% extends 'base.html' %}
{% load bootstrap5 %}


{% block content %}
    <div class="container">
        <h3> Add new recipe </h3>
    </div>
    <div class="container">
        <form id="form_container" method="post">
            <div id="inner_formset_wrapper">
                {% csrf_token %}
                {% bootstrap_form recipe_form %}
                {{ ingredient_formset.management_form }}
                {% for form in ingredient_formset %}
                    <div class="ingredient_form">
                        {{ form.as_table }}
                        {#                        {% buttons %}#}
                        {#                            <button type="button" class="btn btn-danger">#}
                        {#                                Remove ingredient#}
                        {#                            </button>#}
                        {#                        {% endbuttons %}#}
                    </div>
                {% endfor %}
            </div>
            {% buttons %}

                <button id="add_ingredient" type="button" class="btn btn-primary">
                    Add another ingredient
                </button> <br><br>
                <button type="submit" class="btn btn-primary">
                    Add new recipe
                </button>
            {% endbuttons %}
        </form>
    </div>
    <script>
        let inner_formset_wrapper = document.getElementById('inner_formset_wrapper');
        let add_ingredient = document.getElementById('add_ingredient');
        let remove_ingredient = document.getElementById('remove_ingredient');
        let all_ingredient_form = document.querySelectorAll('.ingredient_form');
        let totalForms = document.querySelector("#id_ingredients-TOTAL_FORMS");

        add_ingredient.onclick = function () {
            let newForm = all_ingredient_form[0].cloneNode(true);
            let ingredientsNum = all_ingredient_form.length - 1;
            let ingredientRegex = RegExp(`ingredients-(\\d){1}-`, 'g');

            inner_formset_wrapper.appendChild(newForm);
            ingredientsNum++;
            newForm.innerHTML = newForm.innerHTML.replace(ingredientRegex, `ingredients-${ingredientsNum}-`);
            totalForms.setAttribute('value', `${ingredientsNum + 1}`);
        }

        {# class -> hidden, DELETE attribute - on#}


        {#remove_ingredient.onclick = function () {#}
        {#    let newForm = all_ingredient_form[0].cloneNode(true);#}
        {#    let ingredientsNum = all_ingredient_form.length - 1;#}
        {#    let ingredientRegex = RegExp(`ingredients-(\\d){1}-`, 'g');#}
        {##}
        {#    inner_formset_wrapper.appendChild(newForm);#}
        {#    ingredientsNum++;#}
        {#    newForm.innerHTML = newForm.innerHTML.replace(ingredientRegex, `ingredients-${ingredientsNum}-`);#}
        {#    totalForms.setAttribute('value', `${ingredientsNum + 1}`);#}
        {# }  #}



        {##}
        {#        remove_ingredient.parentElement.setAttribute()#}
        {##}
        {#        function remove_form(event) {#}
        {#            if (event) {#}
        {#                event.preventDefault()#}
        {#            }#}
        {#            const currentIngredientForms = document.getElementsByClassName('ingredient_form')#}
        {#            const currentFormCount = currentIngredientForms.length#}
        {#            const formToRemoveParent = document.getElementById('ingredient_form_list_wrapper')#}
        {#            const copyEmptyForm = document.getElementById('empty_form').cloneNode(true)#}
        {#            copyEmptyForm.setAttribute('class', 'ingredient_form')#}
        {#            copyEmptyForm.setAttribute('id', `form-${currentFormCount}`)#}
        {#            const regex = new RegExp('__prefix__', 'g')#}
        {#            copyEmptyForm.innerHTML = copyEmptyForm.innerHTML.replace(regex, currentFormCount)#}
        {#            totalNewForms.setAttribute('value', currentFormCount + 1)#}
        {#            formCopyTarget.append(copyEmptyForm)#}
        {#        }#}


    </script>


{% endblock %}