{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <p>Recipe's name: {{ recipe.name }}</p>
        <p>Description: {{ recipe.description }}</p>
        <p>Preparation time in minutes: {{ recipe.prep_time_in_minutes }}</p>
        <p>Cooking time in minutes: {{ recipe.cook_time_in_minutes }}</p>
        <p>Ingredients number: {{ recipe.ingredients_number }}</p>
        <p>Available to prepare: {{ recipe.available_to_prepare }}</p>
        <p>Cost of ingredients: {{ recipe.cost_of_ingredients }}</p>
        <p>Ingredients:<br>
            {% for ingredient in recipe.ingredients.all %}
                <a href="{% url 'product-detail-view' ingredient.product.id %}">{{ ingredient.product.name }}</a>;
                quantity {{ ingredient.quantity }} {{ ingredient.units }}, av_quantity:
                {{ ingredient.product.available_quantity }}
                <br>
            {% endfor %}
        </p>
        <div>
            <form method="post">
                {% csrf_token %}
                <a type="submit" class="btn btn-success" href="{% url 'recipe-make-view' recipe.pk %}">
                    Make!
                </a>
            </form>
            <br>
            <a type="button" class="btn btn-warning" href="{% url 'recipe-update-view' recipe.pk %}">
                Edit
            </a>
            <a type="button" class="btn btn-danger" href="{% url 'recipe-delete-view' recipe.pk %}">
                Delete
            </a>
        </div>


    </div>

{% endblock %}