{% extends 'base.html' %} {% load bootstrap5 %} {% block content %}
    <style>
        .hidden {
            display: none;
        }
    </style>
    <div class="container">
        <h3>Modify recipe</h3>
    </div>
    <form id="form_container" method="post">
        {% csrf_token %} {% bootstrap_form recipe_form %}
        {{ ingredient_formset.management_form }}

        {#        EMPTY FORM #}
        <div id="empty_form" class="hidden">
            {{ ingredient_formset.empty_form.as_table }}
            {#            {% buttons %}#}
            {#                <button type="button" class="btn btn-danger" data-formset-remove-form>#}
            {#                    Remove ingredient#}
            {#                </button>#}
            {#            {% endbuttons %}#}
        </div>


        <div id='ingredient_form_list_wrapper'>
            {% for form in ingredient_formset %}
                <div class="ingredient_form">
                    {{ form.as_table }}
                    {#                    {% buttons %}#}
                    {#                    <button type="button" class="btn btn-danger" data-formset-remove-form>#}
                    {#                        Remove ingredient#}
                    {#                    </button>#}
                    {#                {% endbuttons %}#}
                </div>
            {% endfor %}
        </div>
        <div id="products-list">
            {% for ingredient in object.ingredients.all %}
                <a href="{% url 'product-detail-view' ingredient.product.id %}">
                    Product {{ ingredient.product.name }} <br>
                </a>
            {% endfor %}
        </div>
        {% buttons %}
            <button
                    id="add_ingredient"
                    type="button"
                    class="btn btn-primary"
            >
                Add another ingredient
            </button>
            <br/><br/>
            <button type="submit" class="btn btn-primary">Confirm changes</button>
        {% endbuttons %}
    </form>

    <script>

        const addIngredientButton = document.getElementById('add_ingredient')
        const totalNewForms = document.getElementById('id_ingredients-TOTAL_FORMS')

        addIngredientButton.addEventListener('click', add_new_form)

        function add_new_form(event) {
            if (event) {
                event.preventDefault()
            }
            const currentIngredientForms = document.getElementsByClassName('ingredient_form')

            const currentFormCount = currentIngredientForms.length //+ 1
            const formCopyTarget = document.getElementById('ingredient_form_list_wrapper')
            const copyEmptyForm = document.getElementById('empty_form').cloneNode(true)
            copyEmptyForm.setAttribute('class', 'ingredient_form')
            copyEmptyForm.setAttribute('id', `form-${currentFormCount}`)
            const regex = new RegExp('__prefix__', 'g')
            copyEmptyForm.innerHTML = copyEmptyForm.innerHTML.replace(regex, currentFormCount)
            totalNewForms.setAttribute('value', currentFormCount + 1)
            formCopyTarget.append(copyEmptyForm)
        }


    </script>

{% endblock %}
