<!DOCTYPE html>
<html lang="en">
{% load bootstrap5 %}

<head>
    <meta charset="UTF-8">
    <title>Kitchen management</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body><br>

<div class="d-flex justify-content-center">
    {% if messages %}
        <div class="messages btn-success">
            {% for message in messages %}
                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

</div>
<br>
<div class="d-flex justify-content-center">

    <a type="button" class="btn btn-primary" href="{% url 'product-list-view' %}">
        Products list
    </a>

    <a type="button" class="btn btn-primary" href="{% url 'recipe-list-view' %}">
        Recipes list
    </a>
</div>

{% block content %}{% endblock %}
</body>
</html>